<template>
  <i-header class="_text-align:center">
    <h1>Inkline Header</h1>
    <p>This is a header paragraph lorem ipsum dolor sit amet.</p>
  </i-header>
</template>

<script>
export default {};
</script>

<style scoped></style>
