<template>
  <i-nav>
    <i-nav-item >Link</i-nav-item>
    <i-nav-item >Router Link</i-nav-item>
    <i-nav-item>Item</i-nav-item>
    <i-nav-item disabled>Disabled</i-nav-item>
  </i-nav>
</template>

<script>
export default {};
</script>

<style scoped></style>
